include ../mixins/flash-messages

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no,maximum-scale=1,width=device-width")
        title= title || 'Webdoc'
        link(rel="shortcut icone", href="/favicon.ico", type="image/x-icon")
        link(href="/styles/main.css", rel="stylesheet")
     
        block css
        block head

    body
        block content
    
    script(src="https://use.fontawesome.com/f39734232b.js")
    script(src='/js/bundle.js')

    block js
