.flag {
    display: block;
    width: 100%;

    &__solid-cp,
    &__fluid-cp {
        display: table-cell;
        vertical-align: top;
        
        &--middle {
            vertical-align: middle;
        }
        
        &--bottom {
            vertical-align: bottom;
        }
        
       
    }

    @include media('<=phone') {
        &--stack\@mb {
            & .flag__solid-cp,
            & .flag__fluid-cp {
                display: block;
                max-width: 100%;
            }
            & .flag__fluid-cp {
                padding-left: 0 !important;
            }
            & .flag__solid-cp {
                > img {
                    max-width: 100%;
                    width: 100%;
                    margin: 0;
                    margin-bottom: $spacing-tiny;
                }
            }
        } 
    }

    &__fluid-cp {
        width: 100%;
    }

    &__solid-cp {
        > img {
            display: block;
            
            @include media('>tablet') {
                max-width: none;
            }
        }
    }
}
