.o-mosaic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        --margin: $spacing-tiny / 2;
        width: calc( 50% - var(--margin));
        margin-top: var(--margin);
        
        & img,
        > picture {
            width: 100%;
            object-fit: cover;
        }
        
        &--100\@sm {
            @include media('<tablet') {
                width: 100%;
                max-height: unset;
            }
        }
        
        @include media('>phone', '<=tablet') {
            width: calc( 33% - var(--margin) );
        }
        
        @include media('>tablet') {
            width: calc( 25% - var(--margin) );
        }
    }

}
