.page-head {
    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: 12px;

    &__img {
        display: block;
        width: 100%;
    }

    // Img Icon Placeholder
    .placeholder {
        display: block;
        margin: 0 auto;
        height: 100%;
    }
}
