.o-wrapper {
    padding-left: $spacing-default;
    padding-right: $spacing-default;
    margin: 0 auto;
    max-width: 1200px;

    .birbi {
        font-size: $font-small;
        color: $soft-gray;
        margin-bottom: $spacing-tiny;
    }

    @include media('>tablet') {
        &--slim\@ds {
            max-width: 980px;
        }
        &--small\@ds {
            max-width: 800px;
        }
    }
}
