*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin:  0;
  padding: 0;
}


li, ol ,ul {
    list-style: none;
    margin-bottom: 0;
}

a, 
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

button,
button:active,
button:hover {
    outline: none;
    border: none;
}
